{% extends 'base.html' %}

{% load static %}


{% block content %}
        <!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Bacteria Species or Genera Detection</h2>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Services Details Area -->
        <section class="services-details-area ptb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="services-details">
                            <img src="{% static 'img/bacteria-abstract.jpg' %}" alt="image">

                            {% if not result %}

                            <form id="" method="post" enctype="multipart/form-data" novalidate="true"  style="margin-top: 20px;">
                                
                                <h3>Upload image to predict the name of bacteria species or genera.</h3>

                                <p>For best result, upload an image of sample captured using a 100 times objective under oil-immersion.</p>


                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">

                                        <div class="form-group">
                                            <input type="file" class="form-control" placeholder="Your Name" name="myfile" id="name" required="" data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                
                                    
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="btn btn-primary" style="pointer-events: all; cursor: pointer;">Predict Species</button>
                                        <div id="" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                                <h3  style="margin-top: 20px;border-bottom: 5px dashed #e3e3e3;padding-bottom: 10px;">Analysis Report:</h3>

                                <p>Predicted Bacteria Species/Genera: <strong>{{ result }}</strong></p>

                                

                            {% endif %}

                            <div class="services-details-desc">

                                <h3>This classifier can detect 33 different bacteria species or genera.</h3>

                                <p>Detection of bacteria can be a great help in Pathology Image Analysis.</p>

                                <p>Should you have any questions? Check FAQ or Contact Us</p>

                                <div class="services-details-features-list">
                                    <ul>
                                        <li><i class="flaticon-check-mark"></i> Rat/Mouse PINP EIA</li>
                                        <li><i class="flaticon-check-mark"></i> Rat/Mouse PINP EIA</li>
                                        <li><i class="flaticon-check-mark"></i> IDS-iSYS PTH (1-34)</li>
                                        <li><i class="flaticon-check-mark"></i> IDS-iSYS PTH (1-34)</li>
                                        <li><i class="flaticon-check-mark"></i> Corticosterone EIA</li>
                                        <li><i class="flaticon-check-mark"></i> Corticosterone EIA</li>
                                        <li><i class="flaticon-check-mark"></i> Corticosterone HS</li>
                                        <li><i class="flaticon-check-mark"></i> Corticosterone HS</li>
                                        <li><i class="flaticon-check-mark"></i> Urine CartiLaps EIA</li>
                                        <li><i class="flaticon-check-mark"></i> Urine CartiLaps EIA</li>
                                    </ul>
                                </div>

                                <h3>Got questions? Check Bacteria Detection FAQ.</h3>

                                <p>Should you have any questions? Check FAQ or Contact Us</p>

                                <div class="services-details-faq">
                                    <ul class="accordion">
                                        <li class="accordion-item">
                                            <a class="accordion-title active" href="javascript:void(0)">Branding is simply a more efficient way? <i class="fas fa-plus"></i></a>
                                            <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
                                        </li>
                                        
                                        <li class="accordion-item">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                Why we are the best in this fields? <i class="fas fa-plus"></i></a>
                                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
                                            
                                        </li>
                                        
                                        <li class="accordion-item">
                                            <a class="accordion-title" href="javascript:void(0)">It’s better to be first in the mind than in the market? <i class="fas fa-plus"></i></a>
                                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
                                        </li>
                                    </ul>
                                </div>

                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="services-sidebar">
                            <div class="services-list">
                                <ul>
                                    <li><a href="#" class="active">Chemical Research <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Pathology Testing  <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Artificial Intelligence <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Diabetes Testing <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Advanced Robotics <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Pathology Testing <i class="flaticon-right-arrow"></i></a></li>
                                    <li><a href="#">Alternative Energy <i class="flaticon-right-arrow"></i></a></li>
                                </ul>
                            </div>

                            <div class="services-download-list">
                                <ul>
                                    <li><a href="#"><i class="flaticon-pdf"></i> Download Analysis PDF</a></li>
                                    <li><a href="#"><i class="flaticon-txt"></i> Download Analysis Txt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Details Area -->
{% endblock %}