{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- Start Main Banner Area -->
        <div class="main-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <span>Digitalizing Pathology</span>
                            <h1>Pathology Image Analysis for all</h1>
                            <p>Your smartphone device can be your pathology image analysis tool.</p>

                            <a href="#" class="btn btn-primary">Classify</a>
                            <a href="#" class="btn btn-primary">Count</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="{% static 'img/banner-img1.png' %}" alt="image">
                            <img src="{% static 'img/bg-shape2.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="shape-img1 rotateme"><img src="{% static 'img/shape-image/1.png' %}" alt="image"></div>
            <div class="shape-img2"><img src="{% static 'img/shape-image/2.png' %}" alt="image"></div>
            <div class="shape-img3 rotateme"><img src="{% static 'img/shape-image/3.png' %}" alt="image"></div>
            <div class="shape-img4"><img src="{% static 'img/shape-image/4.png' %}" alt="image"></div>
            <div class="shape-img5"><img src="{% static 'img/shape-image/5.png' %}" alt="image"></div>
            <div class="shape-img6"><img src="{% static 'img/shape-image/6.png' %}" alt="image"></div>
            <div class="shape-img7"><img src="{% static 'img/shape-image/7.png' %}" alt="image"></div>
            <div class="shape-img8"><img src="{% static 'img/shape-image/8.png' %}" alt="image"></div>
        </div>
        <!-- End Main Banner Area -->

        <!-- Start Boxes Area -->
        <section class="boxes-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-box">
                            <div class="icon">
                                <i class="flaticon-microscope"></i>
                            </div>
                            <h3>Low-cost Microscopy</h3>
                            <p>Foldscope gives optical quality similar to conventional research microscopes (magnification of 140X and 2 micron resolution).</p>

                            <a href="#" class="learn-more-btn">Learn More <i class="flaticon-arrow-pointing-to-right"></i></a>

                            <div class="shape-box">
                                <img src="{% static 'img/shape-image/9.png' %}" alt="image">
                                <img src="{% static 'img/shape-image/10.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-box bg-43c784">
                            <div class="icon">
                                <i class="flaticon-ai"></i>
                            </div>
                            <h3>Bacteria Species Detection</h3>
                            <p>The developed deep learning model can classify 33 different bacteria species with 99.03% accuracy and does not experience any overfitting or underfitting issues.</p>
                            <a href="/bacteria-classifier/" class="learn-more-btn">Start Analysis<i class="flaticon-arrow-pointing-to-right"></i></a>

                            <div class="shape-box">
                                <img src="{% static 'img/shape-image/9.png' %}" alt="image">
                                <img src="{% static 'img/shape-image/10.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 col-sm-6 offset-sm-3">
                        <div class="single-box bg-f59f00">
                            <div class="icon">
                                <i class="flaticon-laboratory-1"></i>
                            </div>
                            <h3>Bacterial Colony Count</h3>
                            <p>Bacterial colony count can be tiresome, but with help of this tool you can count bacterial colony all days with acceptable accuracy in pathological analysis.</p>
                            
                            <a href="/quantifier/" class="learn-more-btn">Start Analysis<i class="flaticon-arrow-pointing-to-right"></i></a>

                            <div class="shape-box">
                                <img src="{% static 'img/shape-image/9.png' %}" alt="image">
                                <img src="{% static 'img/shape-image/10.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Boxes Area -->

        <!-- Start About Area -->
        <section id="about-area" class="about-area ptb-120" style="padding-top: 180px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{% static 'img/about-img1.png' %}" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <span>About Us</span>
                            <h2>Our Discoveries, Your Solution</h2>
                            <p>A one stop solution for diagnosis of diseases with the help of low-cost equipment and smartphone that can reach far rural territories.</p>

                            <ul class="about-features-list">
                                <li><i class="flaticon-check-mark"></i> Chemical Research</li>
                                <li><i class="flaticon-check-mark"></i> Pathology Testing</li>
                                <li><i class="flaticon-check-mark"></i> Sample Preparation</li>
                                <li><i class="flaticon-check-mark"></i> Healthcare Labs</li>
                                <li><i class="flaticon-check-mark"></i> Advanced Microscopy</li>
                                <li><i class="flaticon-check-mark"></i> Advanced Robotics</li>
                                <li><i class="flaticon-check-mark"></i> Environmental Testing</li>
                                <li><i class="flaticon-check-mark"></i> Anatomical Pathology</li>
                            </ul>

                            <div class="btn-box">
                                <a href="#" class="btn btn-primary">How to assemble your foldscope</a>

                                <a href="https://www.youtube.com/watch?v=L-tFJRGQBIo" class="video-btn popup-youtube"><i class="flaticon-play-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-shape1"><img src="{% static 'img/bg-shape1.png' %}" alt="image"></div>
            <div class="shape-img9"><img src="{% static 'img/shape-image/4.png' %}" alt="image"></div>
        </section>
        <!-- End About Area -->
{% endblock %}